html.DocsAfterDark_dark.DocsAfterDark_midnight {
    --primary-text-color: #e3e3e3;
    --secondary-text-color: #d6d6d6;
    --tertiary-text-color: #bdbdbd;
    --disabled-text: #666;

    --root-background-color: #000;
    --primary-background-color: #000;
    --secondary-background-color: #000;
    --tertiary-background-color: #000;
    --quaternary-background-color: #000;
    --background-color-5: #000;

    --menu-background: #000;
    --hover-background-color: #000;
    --secondary-hover-background-color: #000;
    --solid-hover-background-color: #000;
    --secondary-solid-hover-background-color: #000;

    --primary-border-color: #292929;
    --secondary-border-color: #292929;
    --lighter-border-color: #404040;
    --hover-border-color: #595959;

    --input-border-color: #404040;
    --input-hover-border-color: #595959;
    --input-background-color: #000;

    --button-text-color: #000;
    --accent-color: #e3e3e3;
    --light-accent-color: #111;
    --light-accent-hover-color: #202020;
    --accent-hover-color: #bdbdbd;
}
