html.DocsAfterDark_light.DocsAfterDark_normal {
    --primary-text-color: #202020;
    --secondary-text-color: #383838;
    --tertiary-text-color: #555;
    --disabled-text: #777;

    --root-background-color: #f7f7f5;
    --primary-background-color: #f7f7f5;
    --secondary-background-color: #f7f7f5;
    --tertiary-background-color: #f7f7f5;
    --quaternary-background-color: #f7f7f5;
    --background-color-5: #f7f7f5;

    --menu-background: #f7f7f5;
    --hover-background-color: #f7f7f5;
    --secondary-hover-background-color: #f7f7f5;
    --input-background-color: #f7f7f5;

    --primary-border-color: #d8d8d3;
    --secondary-border-color: #d8d8d3;
    --lighter-border-color: #c5c5bf;
    --hover-border-color: #aaa;

    --accent-color: #202020;
    --light-accent-color: #ecece8;
    --light-accent-hover-color: #e2e2dd;
    --accent-hover-color: #444;

    //////////////////
    // DECLARATIONS //
    //////////////////

    .docs-gm .goog-menu {
        border-color: transparent;
    }

    /////////////////////
    // GRAYSCALE ICONS //
    /////////////////////

    .docs-grille-gm3 .docs-material .docs-icon-img,
    .docs-icons-cleanup .docs-material .docs-icon-img,
    .apps-share-sprite,
    .baseCopyDocDialogUtilSvgIcon,
    .docs-material .docs-icon-img,
    .docs-gm .docs-icon-video-camera-front-18 .docs-icon-img,
    .docs-gm .docs-icon-video-camera-front-24 .docs-icon-img,
    .docs-gm .docs-material .docs-analytics-sidebar-tab-selected .docs-icon-img,
    .docs-gm .docs-material .docs-smart-summary-tinted.docs-icon-img,
    .docs-gm
        .docs-material
        .kix-calendar-template-date-range-picker-blue-icon
        .docs-icon-img,
    .docs-gm .docs-material .kix-task-bubble-blue-icon .docs-icon-img,
    .docs-gm .docs-material .waffle-named-ranges-promo-title .docs-icon-img,
    .docs-gm .docs-material.docs-sheet-active-tab .docs-icon-img,
    .docs-material .docs-icon-system-applied-labels.docs-icon-img,
    .docs-material
        .docs-odp-banner-icon
        .docs-icon-editors-ia-label.docs-icon-img,
    .docs-material
        .smart-canvas-date-details-bubble-book-meeting-button
        .docs-icon-img,
    .docs-material
        .smart-canvas-date-details-bubble-pattern-picker-button
        .docs-icon-img,
    .docs-material
        .smart-canvas-date-details-bubble-pattern-picker-button-original
        .docs-icon-img {
        filter: grayscale(1);
    }

    .baseCopyDocDialogSvgIcon {
        filter: none;
    }
}
